.veh_card {
  border: none;
  box-shadow: #f5f5f5 0 20px 10px 0;
  height: 100%;
  padding: 10px 10px 0 10px;
}
.veh_img {
  text-align: center;
  position: relative;
  height: 290px;
  overflow: hidden;
}
.veh_body {
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.veh_title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #333;
}
.veh_text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #828282;
}
.btn {
  background: #ffc000;
  padding: 16px 20px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
}
.veh_im_img {
  transition: 0.4s all ease;
}
.veh_im_img:hover {
  transform: scale(1.2);
}
.btn:hover {
  color: white;
  transition: 0.3s;
}
@media (max-width: 1199px) {
  .btn {
    font-size: 17px;
  }
  .veh_img {
    height: 220px;
  }
}
@media (max-width: 767px) {
  .veh_img {
    text-align: center;
    height: 360px;
  }
}
@media (max-width: 575px) {
  .veh_img {
    text-align: center;
    height: 245px;
  }
}
