.fac_h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #333;
  margin-top: 150px;
  margin-bottom: 40px;
}
.fac {
  padding: 50px 100px;
  background-color: #fff;
}
.fac_menu {
  margin-bottom: 50px;
}
.fac_col {
  margin-bottom: 24px;
  text-align: start;
}
.fac_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #828282;
  cursor: pointer;
}
.fac_title:hover {
  color: #ffc000;
}
.spec_title:active {
  color: #ffc000;
}
.factory_list {
  margin-bottom: 70px;
}
.factory_col {
  margin-bottom: 30px;
}
@media (max-width: 1198px) {
  .fac {
    padding: 50px 50px;
  }
}
@media (max-width: 991px) {
  .fac {
    padding: 50px 15px;
  }
  .fac_title {
    font-size: 19px;
  }
}
