.foter {
  padding-bottom: 100px;
  background-color: #333;
}
.social_top {
  margin-top: 100px;
}
.socialmid {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 30px;
}
.sociallink {
  margin-left: 23px;
}
.special_top {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-top: 131px;
  margin-bottom: 27px;
}
.special_mid {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.special_info {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  color: #bdbdbd;
  margin-left: 20px;
}
.special_a {
  color: #bdbdbd;
  text-decoration: none;
  word-break: break-all;
}
.special_a:hover {
  color: #bdbdbd;
}
.special_tel {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  color: #bdbdbd;
}
.special_tel:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  color: #bdbdbd;
}
.licence {
  text-align: center;
  border-top: 1px solid gray;
  padding-top: 20px;
  color: #fff;
}
@media (max-width: 991px) {
  .special_top {
    margin-top: 50px;
  }
  .foter {
    padding-bottom: 70px;
  }
}
@media (max-width: 575.98px) {
  .special_a {
    font-size: 15px;
  }
}
