.veh_card {
  border: none;
  box-shadow: #f5f5f5 0 20px 10px 0;
  height: 100%;
  padding: 10px;
}
.veh_img {
  text-align: center;
  position: relative;
  height: 350px;
}
.veh_body {
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.veh_title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #333;
}
.veh_text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #828282;
}
@media (max-width: 1199px) {
  .veh_img {
    height: 278px;
  }
}
@media (max-width: 767px) {
  .veh_img {
    text-align: center;
    height: 480px;
  }
}
@media (max-width: 575px) {
  .veh_img {
    text-align: center;
    height: 300px;
  }
}
