.around {
  justify-content: space-around;
}
.project_about {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.ourteam {
  margin-top: 90px;
  margin-bottom: 34px;
}
.team_name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4f4f4f;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}
.team_job {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #4f4f4f;
}
.team {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .team {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .ourteam {
    margin-top: 40px;
  }
  .project_about {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .project_about {
    text-align: center;
  }
  .team {
    margin-bottom: 20px;
  }
}
