.partner {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  background-color: #fff;
}
.head {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 16px;
}
.paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #828282;
}
@media (max-width: 991px) {
  .head {
    margin-top: 70px;
  }
}
@media (max-width: 575px) {
  .partner {
    margin-bottom: 60px;
  }
  .head {
    margin-top: 30px;
    font-size: 40px;
  }
  .paragraph {
    font-size: 20px;
  }
}
