.contacts {
  margin-bottom: 50px;
}
.adres {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}
