.myModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: system-ui;
  display: none;
  background: rgb(0, 0, 0, 0.5);
  z-index: 3;
}
.modalContent {
  position: relative;
  border-radius: 16px;
  width: 50%;
  height: 95%;
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .modalContent {
    height: 70%;
  }
}
@media (max-width: 767px) {
  .modalContent {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 575px) {
  .modalContent {
    width: 90%;
    height: 60%;
  }
}
