.buldozer {
  border: none;
  box-shadow: #f5f5f5 0 20px 10px 0;
  height: 100%;
  padding: 10px 10px 0 10px;
}
.buldozer_im {
  text-align: center;
  position: relative;
  height: 250px;
  overflow: hidden;
}
.btn {
  border: 1px solid #bdbdbd;
  background: 0 0;
  padding: 10px 50px;
  margin-top: 40px;
  width: 100%;
}
.bodystyle {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.cardtitlestyle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.buldozer_picture {
  transition: 0.4s all ease;
}
.buldozer_picture:hover {
  transform: scale(1.2);
}
.btn:hover {
  background-color: #bdbdbd;
  color: white;
  transition: 0.5s;
}
@media (max-width: 1199px) {
  .btn {
    margin-top: 20px;
    padding: 10px;
  }
  .cardtitlestyle {
    font-size: 20px;
  }
  .buldozer_im {
    height: 130px;
  }
}
@media (max-width: 991px) {
  .buldozer_im {
    height: 179px;
  }
}
@media (max-width: 767px) {
  .buldozer_im {
    height: 280px;
  }
}
@media (max-width: 575px) {
  .buldozer_im {
    height: 260px;
  }
}
