.bod {
  background: #3498db;
  color: #fff;
  font-size: 16px;
  padding: 50px 50px;
  height: 100vh;
}

.smile {
  font-size: 30vh;
}
.span {
  font-size: 4rem;
  font-weight: 600;
}
.al {
  text-decoration: none;
  color: #fff;
}
.al:hover {
  text-decoration: none;
  background: #fff;
  color: #3498db;
  cursor: pointer;
}
